name: Run the tests

on: [pull_request]

env:
  EXAMPLES_FOLDER: examples

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, macos-13]  # windows-latest
        include:
          - os: ubuntu-latest
            label: linux-64
            prefix: /usr/share/miniconda3/envs/biobuddy
          - os: macos-latest
            label: osx-arm64
            prefix: /Users/runner/miniconda3/envs/biobuddy
          - os: macos-13
            label: osx-intel
            prefix: /Users/runner/miniconda3/envs/biobuddy
          # - os: windows-latest
          #   label: win-64
          #   prefix: C:\Miniconda3\envs\biobuddy
          #
          # Removed Windows due to the following error:
          # ________________ ERROR collecting tests/test_osim_to_biomod.py ________________
          #ImportError while importing test module 'D:\a\biobuddy\biobuddy\tests\test_osim_to_biomod.py'.
          #Hint: make sure your test modules/packages have valid Python names.
          #Traceback:
          #C:\Users\runneradmin\miniconda3\envs\test\Lib\importlib\__init__.py:126: in import_module
          #    return _bootstrap._gcd_import(name[level:], package, level)
          #tests\test_osim_to_biomod.py:7: in <module>
          #    import opensim as osim
          #C:\Users\runneradmin\miniconda3\envs\test\Lib\opensim\__init__.py:19: in <module>
          #    from .common import *
          #C:\Users\runneradmin\miniconda3\envs\test\Lib\opensim\common.py:10: in <module>
          #    from . import _common
          #E   ImportError: DLL load failed while importing _common: The specified procedure could not be found.
    name: ${{ matrix.label }}
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - name: Checkout code with submodule
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Setup conda
        uses: conda-incubator/setup-miniconda@v3
        with:
          miniforge-version: latest

      - name: Set up Python
        run: |
          conda install -cconda-forge python=3.11.11 pip 

      - name: Install dependencies
        run: | 
          pip install . && pip uninstall -y biobuddy
          pip install scipy==1.14.1 numpy==1.26.4 lxml ezc3d matplotlib

      - name: Install test dependencies
        run: |
          pip install pytest pytest-cov codecov
          conda install -c opensim-org opensim=4.5.1
          conda install -c conda-forge biorbd=1.11.2 deepdiff

      - name: Run tests with code coverage
        run: pytest -v --color=yes --cov-report=xml --cov=biobuddy tests

      - name: Send Codecov report
        id: archive
        uses: codecov/codecov-action@v5
        with:
          path: .covergage
          if-no-files-found: error
          fail_ci_if_error: true
          verbose: true
        if: matrix.os == 'ubuntu-latest'

      - name: Generate XML report
        run: |
          coverage xml
          coverage report -m

      - uses: codecov/codecov-action@v5
        with:
          files: ./coverage.xml
          flags: unittests
          fail_ci_if_error: true
          verbose: true

      - name: Test installed version of python
        run: | 
          BASE_FOLDER=`pwd`
          pip install .
          cd
          python -c "import biobuddy"
          cd $BASE_FOLDER